{% extends 'base.html' %}
{% block js %} {% endblock js %}
{% block title %} About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
    <h1 class="display-4 fw-bold lh-1">About Us</h1>
    <p class="Learning">Code@Email has assembled a dynamic team of highly qualified individuals to lead the charge.
        Each brings their own unique strengths and experiences, but all share a common goal – to build Code@Email 
        into the premier provider of IT professional services. With more than 5 combined years of professional management
        and entrepreneurial experience, we are well positioned to deliver.  <br>
       <h3> Experience. Commitment. Creativity. Integrity.</h3>
        <br>
        We are a highly collaborative group that values the input and contributions of the entire Code@Email Team. We believe in being open and approachable and understand the value of staying close to our customers and partners. We take seriously our responsibility to set the tone and we lead by example. Uncompromising ethics in all our business dealings is a standard that has no deviation. Warm, friendly, engaging, genuine, driven, tested and proven – it’s a team built for results.
        Our team comprises of resources certified/ trained in Solaris Administration, Cisco, HP, IBM, Citrix, Windows Administration, Veritas, Oracle/ SQL Database. In addition to this, we encourage Customers to train our resources in inhouse application support so that we take on additional responsibility & make more time available for the customer to focus on their key focus areas.
        <br> <hr> <br>
        <h4>Code@Email offer services in</h4>
        <br>
        > Software development & support.  <br>
        > Website development & hosting.  <br>
        > Data Analysis.  <br>
        > Artificial Intelligence & Machine Learning  <br>
        > Cloud services.  <br>
        > Network support & designs.  <br>
        > E-commerce solutions & payment gateway.  <br>
        > Digital marketing & social media marketing.  <br>
        > Search engine optimization.  <br>
        > BPO & KPO projects & third-party support.  <br>
        
        For more details please contact Code@Email</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a href="/contact"><button type="button" class="btn btn-outline-secondary btn-lg px-4"> Contact Us</button></a>
    </div>
  </div>   
 {% endblock %}