{% extends 'base.html' %}

{% block title %} Home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %} 

{% block body %}
<div class="container">
    <div class="jumbotron my-0">
      <h2 class="display-4">Welcome to My Blog!</h2><br><h3>Confusions to conclusions...</h3>
      <p class="lead">Data science combines multiple fields, including statistics, scientific methods, 
        artificial intelligence (AI), and data analysis, to extract value from data. Those who practice data 
        science are called data scientists, and they combine a range of skills to analyze data collected from 
        the web, smartphones, customers, sensors, and other sources to derive actionable insights.
        Data science encompasses preparing data for analysis, including cleansing, aggregating, and manipulating 
        the data to perform advanced data analysis. Analytic applications and data scientists can then review the 
        results to uncover patterns and enable business leaders to draw informed insights.
        <hr>
        Machine learning is important because it gives enterprises a view of trends in customer behavior and business 
        operational patterns, as well as supports the development of new products. Many of today's leading companies, 
        such as Facebook, Google and Uber, make machine learning a central part of their operations. Machine learning 
        has become a significant competitive differentiator for many companies.</p>
      <hr class="my-4">
      <p>“Torture the data, and it will confess to anything.” – Ronald Coase</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>


    
 {% endblock %}