{% extends 'base.html' %}

{% block title %} My Resume{% endblock title %}
{% block resumeactive %} active {% endblock resumeactive %}

{% block body %}
<div class="container ">
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" 
   data-theme="dark" data-type="HORIZONTAL" data-vanity="justmubashir" data-version="v1">
       <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/justmubashir?trk=profile-badge">
           Mubashir Mustafa
       </a>
   </div>
</div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
 {% endblock %}